@use "../partials/mixins";

.content {
  @include mixin.flex-display(column, center, center, nowrap);
}

.landing {
  @include mixin.flex-display(column, center, center, nowrap);
  text-align: center;
  &--title {
    font-size: 3em;
    margin: 5px;
  }

  &--subTitle {
    font-size: 2em;
    margin: 3px;
  }
}

.page-block {
  min-height: 100vh;
  width: 100%;
}
